html,
body{
  height: 100%;
}

body{
  font-size: 16px;
  line-height: 27px;
  color: $default;
  @extend %lato-400;
  position: relative;
}

.wrapper{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container{
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  font-size: 54px;
  line-height: 65px;
  text-transform: capitalize;
  color: $title;
  @extend %play-400;
  text-align: center;
}

.subtitle{
  color: $accent;
  font-size: 40px;
  line-height: 100%;
  display: block;
  text-align: center;
  @extend %ballet;
  margin-bottom: -10px;
}

.breadcrumbs{
  &__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item{
    margin-right: 24px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      bottom: 11px;
      right: -10px;
      width: 4px;
      height: 4px;
      background-color: $hit;
      border-radius: 50%;
    }
    &:last-child{
      margin-right: 0;
      &::before{
        display: none;
      }
    }
  }
  &__link--active{
    color: $title;
  }
}