

@media (max-width:1440px){
  .top {
    .top-title__title{
      font-size: 200px;
      line-height: 300px;
    }
  }
  .banner{
    &__top{
      align-items: flex-end;
      height: 500px;
    }
    &__top-content{
      padding: 50px 0 100px;
      max-width: 500px;
      margin-left: auto;
      z-index: 1;
      &::after {
        bottom: -45px;
        font-size: 130px;
        z-index: -1;
      }
    }
    &__top-img {
      width: 600px;
      height: 600px;
      margin: 0;
      margin-right: 25px;
    }
  }
  .banner__top-content {
    .banner__sale-text {
      font-size: 180px;
      line-height: 100%;
    }
    .banner__sup {
      font-size: 75px;
      line-height: 90%;
    } 
    .banner__off {
      font-size: 35px;
      line-height: 80%;
      text-transform: uppercase;
    }
    .banner__text {
      font-size: 35px;
      margin-bottom: 40px;
    }
  }
  .reviews{
    height: 590px;
    &__inner{
      align-items: flex-end;
    }
    &__content{
      z-index: 1;
      padding: 80px 0;
      &::before{
        z-index: -1;
      }
    }
    &__img{
      width: 600px;
      height: 600px;
      margin: 0;
    }
    .swiper-pagination {
      bottom: 15%;
    }
  }
}

@media (max-width:1366px){
  .header{
    padding: 30px;
    &__logo{
      margin-right: 15px;
    }
  }
  .menu__item{
    margin-right: 25px;
  }
  .user-panel__link+.user-panel__link{
    margin-left: 35px;
  }
  .top-slider {
    .swiper-pagination{
      left: -30px;
      .swiper-pagination-current {
        font-size: 40px;
      }
      &::before {
        width: 70px;
        left: 55px;
      }
    }
  }
  .user-panel{
    padding-right: 15px;
  }
  .portners__inner{
    flex-wrap: wrap;
  }
  .portners__item{
    width: 33%;
    margin-bottom: 40px;
    img{
      margin: 0 auto;
    }
  }
}

@media (max-width:1200px) {
  .head{
    &::before {
      bottom: -50px;
      left: -110px;
    }
    &::after {
      bottom: auto;
      right: -70px;
      top: -22px;
    }
    &__content{
      &::after {
        font-size: 180px;
        line-height: 149%;
        bottom: -28%;
      }
    }
  }
  .banner{
    &__bottom{
      flex-direction: column;
    }
    &__bottom-item {
      max-width: 100%;
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .new-arrivals{
    &__wrapper {
      width: 800px;
      margin: 0 auto;
    }
    .bests-sellers__item{
      margin-right: 15px;
    }
  }
  .reviews{
    height: auto;
    &__img{
      display: none;
    }
  }
  .newsletter__inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .newsletter__item--newsletter{
    grid-column: span 3;
  }
  .newsletter__item{
    &:nth-child(6){
      grid-row: 1;
    }
  }
  .about{
    &__item{
      flex-direction: column;
      max-width: 555px;
      margin: 0 auto;
      &:nth-child(2){
        picture{
          order: 1;
        }
      }
    }
  }

  .blog-page{
    .blog__item{
      &:nth-child(3n) {
        margin-right: 30px;
      }
    }
  }
}

@media (max-width:992px){
  .top {
    .top-title__title{
      font-size: 155px;
      line-height: 200px;
    }
  }
  .menu__item {
    margin-right: 15px;
  }
  .menu__link{
    font-size: 12px;
    line-height: 14px;
  }
  .user-panel__link+.user-panel__link{
    margin-left: 25px;
  }
  .top-slider{
    .swiper-button-prev {
      left: 80px;
    }
    .swiper-button-next {
      right: 80px;
    }
  }
  .bests-sellers {
    padding: 100px 0 70px;
    &__item:last-child {
      margin-right: 30px;
    }
  }
  .banner__top-img{
    width: 400px;
    height: 400px;
    margin-right: 0;
  }
  .banner{
    &__top {
      height: 350px;
      &::before{
        display: none;
      }
    }
    &__top-content{
      padding: 30px 0;
      .banner__sale-text{
        font-size: 120px;
      }
      .banner__sup {
        font-size: 50px;
        line-height: 100%;
      }
      .banner__off{
        font-size: 25px;
      }
      .banner__text {
        font-size: 30px;
        margin-bottom: 30px;
      }
    }
    &__bottom-content{
      .banner__sale-text {
        font-size: 100px;
        line-height: 120%;
      }
      .banner__off {
        font-size: 25px;
        line-height: 100%;
      }
      .banner__sup {
        font-size: 35px;
        line-height: 100%;
      }
    }
    .banner__sup-box{
      margin: 0 5px 20px;
    }
    &__text {
      font-size: 27px;
      line-height: 100%;
    }
  }
  .blog{
    padding-bottom: 80px;
  }
  .new-arrivals,
  .benefits{
    padding: 100px 0;
  }
  .new-arrivals{
    &__wrapper {
      width: 600px;
    }
    .bests-sellers__item{
      margin: 0 23px;
    }
  }
  .portners {
    padding: 80px 0;
  }
  .newsletter__inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .newsletter__item--newsletter{
    grid-column: span 2;
  }
  .newsletter__item{
    &:nth-child(6){
      grid-row: none;
    }
  }
  .about{
    padding-top: 60px;
  }
  .blog-page{
    padding: 100px 0;
  }
  .post{
    padding: 100px 0;
  }
}

@media (max-width: 900px) and (orientation: landscape){
  .top-slider {
    .swiper-pagination{
      left: -60px;
      top: 60%;
    }
  }
  .top .top-title__title{
    font-size: 135px;
  }
  .bests-sellers__item {
    margin-right: 30px;
  }
}


@media  (max-width:768px) {
  .top .top-title__title {
    font-size: 100px;
    line-height: 100%;
  }
  .menu{
    &__list{
      list-style: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100vh;
      padding-top: 20px;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      background-color: rgba($color: #CDE0F1, $alpha: .8);
      transform: translateY(-300%);
      transition: all .3s linear;
      &--active{
      transform: translateY(0%);
      }
    }
    &__item {
      margin-right: 0;
    }
    &__link{
      font-size: 16px;
    }
  }
  .user-panel__link-img{
    max-width: 75%;
  }
  .user-panel__num {
    top: -10px;
    right: -4px;
    width: 16px;
    height: 16px;
    font-size: 8px;
  }
  .user-panel__link+.user-panel__link {
    margin-left: 15px;
  }
  .top-slider {
    .swiper-pagination{
      font-size: 17px;
      left: -45px;
      top: 60%;
      &::before {
        top: 23%;
        width: 50px;
        left: 100px;
      }
      .swiper-pagination-current {
        font-size: 30px;
      }
    }
  }
  .top-slider .swiper-button-next, .top-slider .swiper-button-prev{
    top: 95%;
  }
  .bests-sellers{
    &__title {
      margin-bottom: 25px;
    }
  }
  .banner{
    &__top {
      height: auto;
    }
    &__top-img{
      display: none;
    }
    &__top-content{
      padding: 0 15px 20px;
      &::after{
        right: 0;
        bottom: -40px;
        font-size: 110px;
      }
    }
  }
  .banner__bottom-item{
    padding: 50px 15px;
    height: auto;
  }
  .new-arrivals{
    &__wrapper {
      width: 320px;
      margin: 0 auto;
    }
    .bests-sellers__item{
      margin: 0 33px;
    }
    .swiper-button-prev, .swiper-button-next {
      font-size: 0;
      width: 40px;
      top: -20%;
    }
  }
  .reviews__title,
  .blog__title,
  .footer__link--email,
  .footer__contact,
  .footer__item,
  .newsletter__form-text {
    margin-bottom: 25px;
  }
  .reviews__text,
  .blog__text,
  .footer__contact-title,
  .footer__title {
    margin-bottom: 15px;
  }
  .reviews{
    overflow: hidden;
    &::after {
      bottom: -110px;
      left: 37px;
    }
    &__wrapper {
      width: 100%;
    }
    &__product{
      margin-bottom: 0;
    }
    .star {
      margin: 0 auto 15px;
    }
    .swiper-pagination {
      bottom: 8%;
    }
  }
  .benefits{
    &__inner{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item{
      margin-bottom: 30px;
    }
  }
  .footer{
    &__inner{
      padding: 60px 0 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
    }
    &__bottom{
      flex-direction: column;
      padding: 15px 0;
    }
    &__copy{
      margin-bottom: 10px;
    }
  }
  .newsletter__item--newsletter::before {
    bottom: -66px;
    left: auto;
    right: 60px;
    font-size: 180px;
  }
  .head{
    &::before {
      display: none;
    }
    
    &__content{
      padding: 100px 0 60px;
      &::after {
        font-size: 100px;
        line-height: 100%;
        bottom: -9%;
        left: 29%;
        /* transform: translateX(-50%); */
      }
    }
  }
  .post {
    background-image: none;
  }
  .post-content{
    &__img-box {
      margin-bottom: 20px;
    }
  }
  .leave-comment{
    &__input {
      width: 100%;
      margin: 0 0 15px;
      padding: 15px;
    }
  }
}
/* ==== 768===== */

@media  (max-width:576px){
  .head__title {
    font-size: 40px;
    line-height: 100%;
  }
  .header {
    padding: 20px;
  }
  .top .top-title{
    top: 30%;
  }
  .top-slider{
    .swiper-button-prev {
      left: 50px;
    }
    .swiper-button-next {
      right: 50px;
    }
  }
  .top-slider .swiper-pagination {
    left: -60px;
  }
  .top .top-title{
    left: 10px;
    right: 10px;
  }
  .bests-sellers{
    padding: 60px 0 20px;
    &__item{
      margin: 0 10px 30px;
      &:last-child {
        margin-right: 0px;
        .bests-sellers__item-sum{
          margin-top: -20px;
        }
      }
    }
  }
  .banner__top-content {
    .banner__text {
      font-size: 25px;
      margin-bottom: 20px;
    }
    .banner__sale-text {
      font-size: 100px;
    }
    .banner__sup {
      font-size: 35px;
    }
    .banner__off {
      font-size: 18px;
      line-height: 100%;
    }
  }
  .banner{
    &__sale-box {
      margin-bottom: 10px;
    }
    &__bottom-content{
      max-width: 190px;
      .banner__sale-text {
        font-size: 80px;
        line-height: 100%;
      }
      .banner__off {
        font-size: 20px;
        line-height: 100%;
      }
      .banner__sup {
        font-size: 26px;
        line-height: 100%;
      }
      .banner__sale-text{
        font-size: 50px;
       span {
        font-size: 50px;
        line-height: 100%;
      }
      }
    }
    .banner__sup-box {
      margin: 0 5px 6px;
    }
    &__text {
      font-size: 20px;
      line-height: 100%;
    }
    &__from {
      font-size: 20px;
      margin-bottom: 5px;
      line-height: 100%;
    }
  }
  .new-arrivals{
    padding: 60px 0;
    .swiper-button-prev, .swiper-button-next {
      font-size: 0;
      width: 40px;
      top: -15%;
    }
  }
  .reviews__content{
    &::before{
      top: 10px;
      right: 10px;
    }
  }
  .reviews__text,
  .reviews__name {
    font-size: 16px;
    line-height: 26px;
  }
  .portners{
    padding: 60px 15px 30px;
  }
  .portners__item{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    img{
      max-width: 60%;
    }
  }
  .blog{
    padding-bottom: 30px;
    &__text {
      min-height: auto;
    }
    &__item{
      margin-right: 0;
    }
  }
  .benefits{
    padding: 60px 0 30px;
    &__img {
      margin: 0 auto 15px;
    }
    &__title {
      font-size: 26px;
      line-height: 100%;
      margin-bottom: 5px;
    }
  }
  .newsletter__inner{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .newsletter__item--newsletter{
    grid-column: span 1;
  }
  .newsletter__img{
    width: 100%;
  }
  .newsletter__item:nth-child(4){
    grid-row: 5;
  }
  .newsletter__form{
    padding: 60px 15px;
  }
  .newsletter__form-title{
    margin-bottom: 15px;
  }
  .newsletter__form-input{
    max-width: 100%;
    margin-bottom: 15px;
  }
  .newsletter__form-btn{
    width: 100%;
  }
  .newsletter__item--newsletter::before {
    bottom: -35px;
    left: auto;
    right: 30px;
    font-size: 100px;
  }
  .about{
    padding-top: 30px;
    &__title {
      font-size: 30px;
      line-height: 100%;
    }
    &__content{
      padding: 30px 0;
    }
    &__img{
      width: 400px;
      height: 400px;
      margin: 0 auto;
    }
    &__item-img {
      max-width: 40%;
    }
  }

  .head{
    &::after {
      bottom: -120px;
      right: auto;
      top: auto;
      left: -68px;
      transform: rotate(-180deg);
      width: 257px;
      height: 220px;
    }
    &__content {
      padding: 80px 0 40px;
      &::after {
        font-size: 70px;
        line-height: 100%;
        bottom: -16%;
        left: 20%;
      }
      &::before {
        top: 40%;
        right: -10%;
      }
    }
    &__title {
      font-size: 35px;
    }
  }
  .blog{
    background-image: none;
  }
   .blog-page{
     padding: 60px 0;
    .blog__item{
      margin-bottom: 35px;
      margin-right: 0px;
      &:nth-child(3n) {
        margin-right: 0px;
      }
    }
  }
  .blog__img{
    height: 350px;
  }
  .post{
    padding: 60px 0;
    .blog__img-date{
      padding: 10px;
    }
    .blog__img-num {
      font-size: 22px;
      line-height: 100%;
    }
    .blog__img-month {
      font-size: 14px;
      line-height: 120%;
    }
  }
  .post-content{
    margin-bottom: 30px;
    &__info {
      justify-content: space-between;
    }
    &__info-numcomments {
      margin-left: 0;
    }
    &__top-img {
      width: 100%;
      height: auto;
    }
    article {
      margin-bottom: 25px;
    }
    ul, ol{
      margin-bottom: 15px;
    }
    h2 {
      font-size: 30px;
      line-height: 100%;
    }
    p {
      margin-bottom: 15px;
    }
    blockquote {
      margin-top: 20px;
      padding: 20px;
      &::before {
        bottom: -30px;
        left: -15px;
      }
      &::after{
        display: none;
      }
      p {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }
    &__item-box{
      display: none;
    }
    &__tags-links{
      margin-top: 25px;
      flex-direction: column;
    }
    &__links{
      margin-bottom: 10px;
    }
  }
  .comments{
    margin-bottom: 40px;
    &__title {
      font-size: 30px;
      line-height: 100%;
      margin-bottom: 25px;
    }
  }
  .comment {
    padding-bottom: 15px;
    margin-bottom: 15px;
    &--reply {
      padding-left: 30px;
    }
  }
  .leave-comment{
    padding: 20px;
    &::before {
      display: none;
    }
    &__title {
      font-size: 30px;
      line-height: 100%;
      margin-bottom: 25px;
    }
    &__textarea{
      padding: 15px;
    }
  }
}
/* ==== 567 ===== */


@media  (max-width:340px){
  .new-arrivals__wrapper {
    width: 100%;
    .bests-sellers__item {
      margin: 0 18px;
    }
  }
  .head__content::before {
    right: -17%;
  }
}